# ignore node dependency directories
node_modules/

# ignore log files and databases
*.log
*.sql
*.sqlite

#ignore PrePros Files
prepros.config

#ignore Mac store files
.ds_store
.DS_Store

#ignore theme .min files
themes/**/*.min.css
themes/**/*.min.js

#ignore plugin .min files
plugins/**/*.min.js
plugins/**/*.min.css

#ignore all map and js files
*.css.map
*.js.map
themes/midmohires/assets/js/main.min.js
