# ignore node dependency directories
node_modules/

# ignore log files and databases
*.log
*.sql
*.sqlite

#ignore PrePros Files
prepros.config

#ignore Mac store files
.ds_store
.DS_Store

#ignore theme .min.css files
themes/**/*.min.css

#ignore plugin .min.css files
plugins/**/*.min.js

#ignore all map and js files
*.css.map
*.js.map
