.video-holder{
  width: 100%;
  height: 0px;
  position: relative;
  padding-top: 56.5%;
  margin-bottom: 10px;

  iframe.video-player{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}
